@import "tailwindcss";

@theme {
  --font-sans: "JetBrains Mono", monospace;
  --color-primary: #1a1b26;
  --color-secondary: #c0caf5;
  --color-tokyo-blue: #7aa2f7;
  --color-tokyo-green: #9ece6a;
}

html,
body {
  @apply bg-white dark:bg-primary;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
